@font-face {
  font-family: "Lato";
  src: url("Lato/Lato-Light.ttf") format("truetype");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 1.5rem;
  color: rgb(46, 46, 46);
  gap: 20px;
  font-size: 12.5pt;
}

a {
  color: black;
}

a:hover {
  background-color: black;
  color: white;
}

header {
  margin: 20px;
}

h1 {
  letter-spacing: 4px;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}

main {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.divided {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 600px) {
  .divided {
    flex-direction: column;
  }

  .blocksatz {
    padding: 0 10px;
  }
}

img {
  width: 270px;
}

.blocksatz {
  text-align: justify;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.last {
  margin-bottom: 40px;
}
